

@mixin generic-btn() {
  display: flex;
  align-items: center;
  height: $height;
  padding: 0 $xPadding;
  user-select: none;
  outline: 0;
  font-size: 1rem;

  &:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
  }

  &:hover {
    opacity: .7;
  }
}

$height: 40px;
$xPadding: 1.5rem;

.btn-icon,
.btn-trans {
  background: transparent;
  border: 0;

  .fa {
    margin-right: .5rem;
  }

  @include generic-btn();
}

.btn-pagination {
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  border: 0;
  background: transparent;
  color: var(--accent-2-color);

  &:focus {
    outline: none;
  }

}

.as-button {
  cursor: pointer;
}

