@for $i from 1 through 10 {
  .image-#{$i * 20} {
    display: block;
    width: #{$i * 20}px;
    min-width: #{$i * 20}px;
  }
}

@for $i from 1 through 10 {
  .h-#{$i * 50}px {
    height: #{$i * 50}px;
  }
}

@for $i from 1 through 10 {
  .w-#{$i * 10}px {
    width: #{$i * 10}px;
  }
}

